<div class="account-container">
  <!-- Sidebar / Top Menu on Mobile -->
  <aside class=" sidebar">
    <div class="sidebar-header">
      <h3>My Account</h3>
    </div>
    <ul class="sidebar-menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="my-orders">
          <i class="fas fa-box me-2"></i>
          <span class="menu-text">Orders</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="wishlist">
          <i class="fas fa-heart me-2"></i>
          <span class="menu-text">Wishlist</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="profile">
          <i class="fas fa-user me-2"></i>
          <span class="menu-text">Profile</span>
        </a>
      </li>
      <li>
        <a (click)="logout()" class="logout-link">
          <i class="fas fa-sign-out-alt me-2"></i>
          <span class="menu-text">Logout</span>
        </a>
      </li>
    </ul>
  </aside>

  <!-- Right Content -->
  <main class="content p-2">
    <router-outlet></router-outlet>
  </main>
</div>
