<div class="row">
  <div class="col-md-12">
    <label class="text-black h4">Promo Code</label>
    <p>Enter your promo code if you have one.</p>
  </div>

  <div class="col-md-8 mb-3">
    <input type="text" class="form-control py-3" [(ngModel)]="promoCode" (ngModelChange)="resetPromo()"
      placeholder="Promo Code">
  </div>

  <div class="col-md-4">
    <button class="btn btn-dark w-100" (click)="apply.emit()" [disabled]="promoApplying">Apply</button>
  </div>

  <div class="col-md-12 " *ngIf="promoMessage">
    <div class="text-success small">{{ promoMessage }}</div>
  </div>

  <div class="col-md-12" *ngIf="promoError">
    <div class="text-danger small ">{{ promoError }}</div>
  </div>

  <div class="col-md-12 mt-3" *ngIf="discount > 0">
    <div class="promo d-flex align-items-center justify-content-between p-3 bg-light border"
      style="border-color: #34c759;">
      <div class="d-flex align-items-center gap-2">
        <i class="bi bi-check fs-3 text-success"></i>
        <div>
          <strong>{{ promoCode }}  <span> applied</span></strong>
          <div class="text-success small">
            - {{  format (discount) }}
            <span *ngIf="discountType === 'percentage'">({{ discountValue }}% off)</span>
            <span *ngIf="discountType === 'flat'">({{ discountValue }}₹ off)</span>
          </div>
        </div>
      </div>
      <button class="btn-sm" (click)="remove.emit()">Remove</button>
    </div>
  </div>
</div>
