<div *ngIf="loadingItemId !== null" class="fullscreen-loader">
  <div class="custom-spinner"></div>
</div>

<div class="site-blocks-table">
  <table class="table mt-3">
    <thead>
      <tr>
        <th class="product-thumbnail">Image</th>
        <th class="product-name">Product</th>
        <th class="product-price">Price</th>
        <th class="product-quantity">Quantity</th>
        <th class="product-total">Total</th>
        <th class="product-remove">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td class="product-thumbnail">
          <img [src]="getImageUrl(item.Product.img)" alt="Image" class="img-fluid cart-img" />
        </td>
        <td class="product-name">
          <h2 class="h5 text-black mb-1 align-items-center justify-content-between">
            {{ item.Product.name }}
          </h2>

          <p class="text-muted mb-1">
            {{ item.Product.des || "No description available." }}
          </p>

          <span *ngIf="item.Product.stock === 0" class="badge bg-danger ms-2">
              Out of Stock
            </span>

          <small *ngIf="item.Product.stock > 0 && item.Product.stock <= 5" class="badge bg-warning text-dark">
            Only {{ item.Product.stock }} product left in stock!
          </small>
        </td>


        <td>{{ format(item.Product.price) }}</td>

        <td class="text-center align-middle">
          <div class="d-flex justify-content-center">
            <div class="input-group flex-nowrap qty-group">
              <button class="btn btn-outline-dark" type="button" (click)="decreaseQty(item)"
                [disabled]="item.quantity <= 1 || loadingItemId !== null">
                -
              </button>

              <input type="text" class="form-control text-center" [value]="item.quantity" readonly />

              <button class="btn btn-outline-dark" type="button" (click)="increaseQty(item)"
                [disabled]="loadingItemId !== null || item.quantity >= item.Product.stock">
                +
              </button>

            </div>
          </div>
        </td>

        <td>{{ format(item.Product.price * item.quantity) }}</td>
        <td>
          <button (click)="removeItem(item.Product.id)" class="btn btn-black btn-sm remove-btn"
            [disabled]="loadingItemId !== null">
            <i class="bi bi-trash trash-icon"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
