<div class="container mt-6" *ngIf="!loading && product">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <!-- Thank You Message -->
      <div *ngIf="submitted" class="text-center rating-message">
        <span class="thank-you-msg">
          Thank you! Your feedback has been submitted.
        </span> <br>
        You will be redirected back in <br> <br>
        <strong>{{ countdown }}</strong> seconds...
      </div>

      <!-- Already Rated Message -->
      <div *ngIf="alreadyRated && !submitted" class="text-center rating-message">
        <span class="thank-you-msg">
          You have already reviewed this product.
        </span> <br>
        You will be redirected back in <br> <br>
        <strong>{{ countdown }}</strong> seconds...
      </div>

      <!-- Image + Name + Stars + Feedback Form -->
      <div *ngIf="!alreadyRated && !submitted">
        <div class="d-flex align-items-center mb-4">
          <img [src]="getImageUrl(product.media?.img_url)" alt="{{ product.name }}"
            class="img-fluid rounded shadow-sm me-4 product-image">

          <div>
            <h4 class="fw-bold mb-2">{{ product.name }}</h4>
            <div class="d-flex gap-2">
              <ng-container *ngFor="let star of [1,2,3,4,5]">
                <i class="bi" (click)="setRating(star)" [ngClass]="star <= selectedRating
                     ? 'bi-star-fill text-warning fs-3'
                     : 'bi-star fs-3'">
                </i>
              </ng-container>
            </div>
          </div>
        </div>

        <div *ngIf="selectedRating > 0">
          <textarea [(ngModel)]="feedback" class="form-control mb-3" rows="3" placeholder="Share your experience...">
          </textarea>

          <button class="btn btn-dark w-100" [disabled]="submitting" (click)="submitFeedback()">

            <ng-container *ngIf="!submitting; else loadingTpl">
              Submit Your Feedback
            </ng-container>

            <ng-template #loadingTpl>
              <span class="spinner-border spinner-border-sm me-2"></span>
              Submitting...
            </ng-template>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
