<!-- <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 300px;">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
</div> -->

<div class="row">
  <ng-container *ngIf="products.length > 0; else noProducts">
    <div class="col-12 col-md-4 col-lg-3 mb-4" *ngFor="let product of products">
      <div class="product-item d-flex flex-column border p-3 shadow-sm h-100 rounded text-center"
        style="height: 100%; min-height: 420px;">
        <!-- <p *ngIf="product.stock > 0">In Stock: {{ product.stock }}</p> -->
        <!-- <p *ngIf="product.stock == 0" class="text-danger">Out of Stock</p> -->

        <span *ngIf="isNewProduct(product.createdAt)" class="badge bg-danger position-absolute top-0 start-0 m-2">
          New
        </span>

        <img [src]="getImageUrl(product.img)" class="img-fluid mb-3" [alt]="product.name"
          style="height: 200px; object-fit: cover;" />

        <div class="flex-grow-1 d-flex flex-column justify-content-between">
          <div>
            <h6 class="fw-semibold mb-2 text-truncate">{{ product.name }}</h6>
            <p class="text-muted small mb-2" style="min-height: 40px; overflow: hidden;">{{ product.des }}</p>
            <strong class="text-dark d-block mb-3">{{ format( product.price ) }}</strong>
            <p *ngIf="product.stock === 0" class="text-danger fw-semibold">Out of Stock</p>
            <!-- <p *ngIf="product.stock > 0" class="text-success small">In Stock: {{ product.stock }}</p> -->
          </div>
        </div>
        <button class="btn btn-dark btn-sm mt-auto w-70" [disabled]="product.stock === 0"
          (click)="emitAddToCart(product)">
          Add to Cart
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #noProducts>
    <div class="d-flex justify-content-center align-items-center w-100" style="height: 300px;">
      <div class="text-center text-muted">
        <i class="bi bi-box-seam" style="font-size: 2rem;"></i><br />
        No products found.
      </div>
    </div>
  </ng-template>
</div>
